<a href="https://colab.research.google.com/github/PaulToronto/DataCamp---Finance-Fundamentals-in-Python/blob/main/2_1_Datetimes_and_Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 2.1 - Datetimes and Dictionaries

In [1]:
from datetime import datetime

## Datetimes

In [2]:
black_monday = datetime(1987, 10, 19)
black_monday

datetime.datetime(1987, 10, 19, 0, 0)

In [3]:
print(black_monday)

1987-10-19 00:00:00

In [4]:
today = datetime.now()
today

datetime.datetime(2025, 10, 15, 22, 25, 58, 948139)

In [5]:
print(today)

2025-10-15 22:25:58.948139

In [6]:
today.microsecond

948139

## Datetime from string

<table>
  <thead>
    <tr>
      <th>Directive</th>
      <th>Meaning</th>
      <th>Example</th>
    </tr>
  </thead>
  <tbody>
    <tr><td><code>%Y</code></td><td>Year with century</td><td>2025</td></tr>
    <tr><td><code>%y</code></td><td>Year without century</td><td>25</td></tr>
    <tr><td><code>%m</code></td><td>Month as zero-padded decimal</td><td>01..12</td></tr>
    <tr><td><code>%B</code></td><td>Full month name</td><td>October</td></tr>
    <tr><td><code>%b</code></td><td>Abbreviated month name</td><td>Oct</td></tr>
    <tr><td><code>%d</code></td><td>Day of the month (zero-padded)</td><td>01..31</td></tr>
    <tr><td><code>%A</code></td><td>Full weekday name</td><td>Tuesday</td></tr>
    <tr><td><code>%a</code></td><td>Abbreviated weekday name</td><td>Tue</td></tr>
    <tr><td><code>%w</code></td><td>Weekday as a number (0=Sunday)</td><td>0..6</td></tr>
    <tr><td><code>%H</code></td><td>Hour (24-hour clock)</td><td>00..23</td></tr>
    <tr><td><code>%I</code></td><td>Hour (12-hour clock)</td><td>01..12</td></tr>
    <tr><td><code>%p</code></td><td>AM/PM</td><td>AM</td></tr>
    <tr><td><code>%M</code></td><td>Minute</td><td>00..59</td></tr>
    <tr><td><code>%S</code></td><td>Second</td><td>00..59</td></tr>
    <tr><td><code>%f</code></td><td>Microsecond (6 digits)</td><td>000000..999999</td></tr>
    <tr><td><code>%z</code></td><td>UTC offset</td><td>+0000</td></tr>
    <tr><td><code>%Z</code></td><td>Time zone name</td><td>UTC, EST, etc.</td></tr>
    <tr><td><code>%j</code></td><td>Day of the year</td><td>001..366</td></tr>
    <tr><td><code>%U</code></td><td>Week number (Sunday as first day)</td><td>00..53</td></tr>
    <tr><td><code>%W</code></td><td>Week number (Monday as first day)</td><td>00..53</td></tr>
    <tr><td><code>%c</code></td><td>Locale date and time</td><td>Tue Oct 14 12:30:45 2025</td></tr>
    <tr><td><code>%x</code></td><td>Locale date</td><td>10/14/25</td></tr>
    <tr><td><code>%X</code></td><td>Locale time</td><td>12:30:45</td></tr>
    <tr><td><code>%%</code></td><td>Literal '%' character</td><td>%</td></tr>
  </tbody>
</table>

In [7]:
black_monday_string = 'Monday October 19 1987 9:30 am'

format_str = "%A %B %d %Y %I:%M %p"

datetime.strptime(black_monday_string, format_str)

datetime.datetime(1987, 10, 19, 9, 30)

In [8]:
crash_of_1837 = '1837-05-10'

datetime.strptime(crash_of_1837, '%Y-%m-%d')

datetime.datetime(1837, 5, 10, 0, 0)

In [9]:
panic_1901 = 'Friday, 17 May 01'

panic_wrong = datetime.strptime(panic_1901, '%A, %d %B %y')
print(panic_wrong)

panic_correct = panic_wrong.replace(year = 1900 + panic_wrong.year % 100)
print(panic_correct)

2001-05-17 00:00:00
1901-05-17 00:00:00

## String from datetime

In [10]:
great_depression_crash = datetime(1929, 10, 29)
print(great_depression_crash)

1929-10-29 00:00:00

In [11]:
great_depression_crash.strftime('%a, %b %d, %Y')

'Tue, Oct 29, 1929'

## Datetime attributes

In [12]:
today = datetime.now()
today

datetime.datetime(2025, 10, 15, 22, 25, 59, 24484)

In [13]:
today.year, today.month, today.day, today.hour, today.minute, today.second, today.microsecond

(2025, 10, 15, 22, 25, 59, 24484)

## Comparing datetimes

In [14]:
asian_crisis = datetime(1997, 7, 2)
world_mini_crash = datetime(1997, 10, 27)
print(asian_crisis, " --- ", world_mini_crash)

1997-07-02 00:00:00  ---  1997-10-27 00:00:00

In [15]:
(
    asian_crisis == world_mini_crash,
    asian_crisis > world_mini_crash,
    asian_crisis < world_mini_crash
)

(False, False, True)

In [16]:
text = '10/27/1997'
format_str = '%m/%d/%Y'
sell_date = datetime.strptime(text, format_str)
print(sell_date)

1997-10-27 00:00:00

In [17]:
sell_date == world_mini_crash

True

## `timedelta` object

- attributes for days, seconds and microseconds
- but they have contructor arguments for me than just those attributes

`
timedelta(days=0, seconds=0, microseconds=0, milliseconds=0, minutes=0, hours=0, weeks=0)
`

In [18]:
delta = world_mini_crash - asian_crisis
delta2 = asian_crisis - world_mini_crash
delta, delta2

(datetime.timedelta(days=117), datetime.timedelta(days=-117))

In [19]:
type(delta)

datetime.timedelta

In [20]:
print(delta)

117 days, 0:00:00

In [21]:
print(delta.days, delta.seconds, delta.microseconds)
print(delta2.days, delta2.seconds, delta2.microseconds)

117 0 0
-117 0 0

## Creating relative datetimes

In [22]:
dt = datetime(2019, 1, 14, 0, 0)
print(dt)

2019-01-14 00:00:00

In [23]:
# 1 week earlier,
# but it fails when the number of days crosses into the next month
#.   (ValueError: day is out of range for the month)
datetime(dt.year, dt.month, dt.day - 7, 0, 0)

datetime.datetime(2019, 1, 7, 0, 0)

In [24]:
# much better alternative
from datetime import timedelta
seven_days = timedelta(days=7)
seven_days

datetime.timedelta(days=7)

In [25]:
dt - seven_days

datetime.datetime(2019, 1, 7, 0, 0)

In [26]:
offset = timedelta(days=16)
dt - offset

datetime.datetime(2018, 12, 29, 0, 0)