<a href="https://colab.research.google.com/github/PaulToronto/DataCamp---Finance-Fundamentals-in-Python/blob/main/2_2_Control_Flow_and_Logic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 2.2 - Control Flow and Logic

In [1]:
from datetime import datetime

## Equality comparisons: `==`

- datetimes
- numbers (floats and ints)
- dictionaries
- strings
- almost anything else

In [2]:
data_close_high = datetime(2019, 11, 27)
data_intra_high = datetime(2019, 11, 27)

data_close_high == data_intra_high, data_close_high != data_intra_high

(True, False)

In [3]:
# dictionaries are equal if they have the same keys and vaclues

d1 = {'high': 56.88, 'low': 33.22, 'closing': 56.88}
d2 = {'closing': 56.88, 'low': 33.22, 'high': 56.88}

d1 == d2, d1 != d2

(True, False)

In [4]:
# a mix of number types can be equal
#. but a mix of a number type with a string can't be equal
3 == 3.0, 3 == '3'

(True, False)

## Order operators

- `<`, `>`, `<=`, `>=`

In [5]:
3 < 5, 3 < 3.6

(True, True)

In [6]:
# note that ascii order applies

'a' < 'b', 'a' < 'B'

(True, False)

In [7]:
data_close_high = datetime(2019, 11, 27)
data_intra_high = datetime(2019, 11, 27)

data_close_high < data_intra_high, data_close_high <= data_intra_high

(False, True)

## Boolean operators

1. logical conjunction: `and`
2. logical disjunction: `or`
3. logical negatiion: `not`

These operations evaluate to `True` or `False`

## Valuse that are equivalent `False` or `True`

### `False`

- `False`
- `None`
- `0`
- `0.0
- `""`
- `[]`
- `{}`

### `True`

- `True`
- Almost everything else

## Short circuit

- Both the `and` and `or` operators are short-circuit operations
- Python stops evaluating the operation as soon as the result of the operation is determined
- When returning, they return the **last item that was evaluated**

In [8]:
"hello" and "goodbye", {} and "goodbye"

('goodbye', {})

In [9]:
"hello" or "goodbye", [] or "goodbye"

('hello', 'goodbye')

## Basic Examples

In [10]:
True and True, True and False

(True, False)

In [11]:
True or True, True or False, False or True, False or False

(True, True, True, False)

In [12]:
True, not True

(True, False)

## `if` statements

```python
if <expression> : statement
```

```python
if <expression> :
    statement
    statement
    statement
```

```python
if <expression> : statement; statement; statement
```

In [13]:
# printing sales only

trns = {'symbol': 'TSLA', 'type': 'BUY', 'amount': 300}

if trns['type'] == 'SELL':
    print(trns['amount'])

## `else` clause

```python
if x in y:
    print('I found x in y')
else:
    print('No x in y')
```

## `elif` statement

```python
if x == y:
    print('equals')
elif x < y:
    print('less than')
elif x > y:
    print('greater than')
elif x == 0:
    print('zero')
else:
    print('None of the above')
```

## `for` and `while` loops

### `for`

```python
for <variable> in <sequence>:
    <code block>
```

In [14]:
symbols = {'037833100': 'AAPL',
           '17275R102': 'CSCO',
           '68389X105': 'ORCL'}

for k in symbols:
    print(symbols[k])

AAPL
CSCO
ORCL

### `while`

```python
while <expression>:
    <code block>
```

In [15]:
x = 0

while x < 5:
    print(x)
    x += 1

0
1
2
3
4

## `continue` statement

- Used to skip a loop iteration

In [16]:
for x in [0, 1, 2, 3]:
    if x == 2:
        continue
    print(x)

0
1
3

## `break` statement

- Used to exit from a loop

In [17]:
for x in [0, 1, 2, 3]:
    if x == 2:
        break
    print(x)

0
1